name: Run Jupyter Notebook

on:
  schedule:
    - cron: "30 15 * * 1-5" # 17:30 GMT+2 converted to UTC (15:30), Monday - Friday
  workflow_dispatch: # Allows manual triggering of the workflow

permissions:
  contents: write

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run notebook
        run: |
          jupyter nbconvert --to notebook --execute Zimstockdata.tk.comprehensive

      - name: Commit results
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          TIMESTAMP=$(date '+%Y-%m-%d %H:%M:%S %Z')
          git add archive/
          git add archive-single-file/
          # Only commit if there are changes
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Add results for notebook run at $TIMESTAMP"
            git push
           fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
